<!DOCTYPE html>
<html lang="en" ng-app="x86interpreter">
  <head>
    <title>Code Arcana</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0-wip/css/bootstrap.min.css">
    <link rel="stylesheet" href="./main.css" type="text/css" />
    <script src="./x86.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="./ui-bootstrap-tpls-0.5.0.min.js"></script>
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script>
      state = new State();
      function StateController($scope) {
        $scope.all_registers = all_registers;
        $scope.state = state;
        $scope.hex = hex;
        $scope.range = range;
        $scope.parseInt = parseInt;
        $scope.keys = Object.keys;
      }

      var mod = angular.module('x86interpreter', ['ui.bootstrap']);
      mod.factory('$exceptionHandler', function () {
        return function (exception, cause) {
          alert(exception);
        };
      });
      mod.directive('focusOn', function() {
        return function(scope, element, attrs) {
          scope.$watch(attrs.focusOn, function (condition) {
            if (condition) {
              element[0].focus();
            }
          });
        }
      });
      mod.directive('integer', function(){
        return {
          require: 'ngModel',
          link: function(scope, ele, attr, ctrl){
            ctrl.$parsers.unshift(function(viewValue) {
              if (viewValue == "0x" || viewValue == "0X") {
                return 0;
              }
              return parseInt(viewValue);
            });
            ctrl.$formatters.push(hex);
          }
        };
      });
    </script>
  </head>
  <body>
    <div ng-controller="StateController" class="container">
      <div class="row">
       <div class="instructions col-xs-4">
         <h2>Code</h2>
         <div class="instruction" ng-repeat="address in range(state.codeBase+40-4, state.codeBase-4, -4)">
           <span class="text-muted">{{hex(address)}}</span>
           <span ng-dblclick="isEditing=(state.getCode(address).length==0||!isEditing)"
             ng-init="isEditing=state.getCode(address).length==0">
             <!-- I don't really want to use a form here, but I don't know how
             to get the ng-keyup to work for enter. Until then, we'll wrap
             the input in a form so that enter will cause the action. -->
             <form class="inline" ng-show="isEditing" ng-submit="isEditing=false;state.step()">
               <input type="text" ng-model="state.instructions[address]" size="10" focus-on="state.eip==address">
               <input ng-show="false" type="submit">
             </form>
             <span ng-show="!isEditing">{{state.getCode(address)}}</span>
           </span>
           <button class="btn btn-primary" ng-show="address==state.eip" ng-click="state.step()">Step</button>
         </div>
       </div>
        <div class="stack col-xs-4">
          <h2>Stack</h2>
          <div class="memory" ng-repeat="address in range(state.stackBase - 4, state.stackBase - 40, -4)">
            <span class="text-muted">{{hex(address)}}</span>
            <span ng-dblclick="isEditing=!isEditing" ng-init="isEditing=false">
              <form class="inline" ng-show="isEditing" ng-submit="isEditing=false">
                <input type="text" ng-model="state.stack[address]" size="10" integer>
                <input ng-show="false" type="submit">
              </form>
              <span ng-show="!isEditing">{{hex(state.stack[address])}}</span>
            </span>
          </div>
        </div>
        <div class="registers col-xs-4">
          <h2>Registers</h2>
          <div class="register" ng-repeat="register in all_registers">
            <span class="text-muted">%{{register}}</span>
            <span ng-dblclick="isEditing=!isEditing" ng-init="isEditing=false">
              <form class="inline" ng-show="isEditing" ng-submit="isEditing=false">
                <input type="text" ng-model="state[register]" size="10" integer>
                <input ng-show="false" type="submit">
              </form>
              <span ng-show="!isEditing">{{hex(state[register])}}</span>
            </span>
          </div>
        </div>
      </div>
      <p>Double click a value to edit it!</p>
    </div>
  </body>
</html>
