<!DOCTYPE html>
<html lang="en" ng-app="x86interpreter">
  <head>
    <title>Code Arcana</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0-wip/css/bootstrap.min.css">
    <link rel="stylesheet" href="./main.css" type="text/css" />
    <script src="./x86.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="./ui-bootstrap-tpls-0.5.0.min.js"></script>
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script src="./app.js"></script>
  </head>
  <body>
    <div ng-controller="StateController" class="container">
      <div class="row">
       <div class="instructions col-xs-4">
         <h2>Code</h2>
         <div class="instruction" ng-repeat="address in range(state.codeBase+40-4, state.codeBase-4, -4)">
           <span class="text-muted">{{hex(address)}}</span>
           <span ng-dblclick="isEditing=(state.instructions[address].length==0||!isEditing)"
             ng-init="isEditing=state.instructions[address].length==0">
             <input ng-show="isEditing" type="text" ng-model="state.instructions[address]"
			       size="10" focus-on="state.eip==address"
				   ng-enter="isEditing=(state.instructions[address].length==0||!isEditing);state.step()">
             <span ng-show="!isEditing">{{state.getCode(address)}}</span>
           </span>
           <button class="btn btn-primary" ng-show="address==state.eip" ng-click="state.step()">Step</button>
         </div>
       </div>
        <div class="stack col-xs-4">
          <h2>Stack</h2>
          <div class="memory" ng-repeat="address in range(state.stackBase - 4, state.stackBase - 40, -4)">
            <span class="text-muted">{{hex(address)}}</span>
            <span ng-dblclick="isEditing=!isEditing" ng-init="isEditing=false">
              <input ng-show="isEditing" ng-enter="isEditing=false" type="text" ng-model="state.stack[address]" size="10" integer>
              <span ng-show="!isEditing">{{hex(state.stack[address])}}</span>
            </span>
          </div>
        </div>
        <div class="registers col-xs-4">
          <h2>Registers</h2>
          <div class="register" ng-repeat="register in all_registers">
            <span class="text-muted">%{{register}}</span>
            <span ng-dblclick="isEditing=!isEditing" ng-init="isEditing=false">
              <input ng-show="isEditing" ng-enter="isEditing=false" type="text" ng-model="state[register]" size="10" integer>
              <span ng-show="!isEditing">{{hex(state[register])}}</span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
