.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.container {
    position: relative;
    max-width: 400px;
}

.hidden {
    visibility: hidden;
}

.inline {
    display: inline;
}
